@{
    ViewBag.Title = "Home Page";
}

<h1>Number Guessing Game</h1>
<p> We have selected a random number between 1 and 100. See if you can guess it in 10 turns or less We'll tell you if your guess was too high or too low</p>
<div>
    <span>Enter a guess</span>
    <input id="inputValue" />
    <button id="submitBtn">submit</button>
    <label id="logLabel"></label>
</div>



<script>
    let playerLife = 0;
    let randomValue = 0;
    let inputValue = 0;
    let submitBtn = document.getElementById('submitBtn');
    let isGameContinue = false;
    
    function gameSetting() {
        playerLife = 10;
        randomValue = Math.floor((Math.random() * 100) + 1);
    }
    
    function gameManager()
    {
        inputValue = Number(document.getElementById('inputValue').value);
       
        if (inputValue === randomValue) {
            isGameContinue = window.confirm('정답입니다! 게임을 다시 하시겠습니까?');
            if (isGameContinue)
            {
                gameSetting();
            }
        } else {
            if (0 !== playerLife) {
                window.alert('틀렸습니다! ');
                let logText = '';

                if (inputValue < randomValue) {
                    logText = '입력한 값 {0} 보다 낮은 숫자입니다.'.format(inputValue);
                } else {
                    logText = '입력한 값 {0} 보다 높은 숫자입니다.'.format(inputValue);
                }

                document.getElementById('logLabel').innerText = logText;
                playerLife -= 1;
            } else {
                isGameContinue = window.confirm('체력을 모두 소진했습니다. 다시 하시겠습니까?');
                if (isGameContinue) {
                    gameSetting();
                }
            }

        }
    }

    gameSetting();
    submitBtn.addEventListener('click', gameManager);



</script>